@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background: #050508;
    --primary: #9fa2ca;
    --secondary: #5e3765;
    --accent: #ac68a5;
    background-color: var(--background);
    color: white;

  }
.background {
  background-color: var(--background);
}
  
.foreground {
  color: var(--foreground-rgb);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.accent {
  color: var(--accent);
}
.bg-accent {
  background-color: var(--accent);
}
.hover-accent:hover {
  background-color: var(--primary);
}
#button-bg{
  @apply flex justify-center bg-accent font-bold py-4 px-16 rounded-full mx-auto my-4 :hover:bg-; 
}